* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-primary);
  background-color: #020605;
}

/* Header Section */

.landing-wrapper {
  background-color: #08090a;
  background-image: url(./assets/hero-bg-png.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
}

.body-container {
  height: 1000px;
  max-width: 1100px;
  margin: auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(18px);
  padding: 16px 0px;
}

.nav-container {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.nav-logo,
.nav-links,
.nav-cta {
  flex: 1;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-cta {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links ul li {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
}

.nav-cta button {
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 16px;
  cursor: pointer;
  border: transparent;
}

.contact-sales-cta {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-weight: 600;
}

/* Badge */
.badge {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.badge-text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 6px 6px;
  border-radius: 20px;
}

.new {
  background-color: #0c8c5e;
  font-size: 12px;
  padding: 6px 8px;
  margin-right: 8px;
  border-radius: 16px;
}

/* Hero Content */
.hero-content {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.hero-content-container {
  text-align: center;
}

.hero-title {
  font-size: 61px;
  line-height: 70.3px;
  font-weight: 600;
  letter-spacing: -1.3px;
}

.hero-sub-title {
  font-size: 18px;
  line-height: 27px;
  margin-top: 26px;
}

/* Input Section */

.input-container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.input {
  background-color: rgba(255, 255, 255, 0.15);
  border: solid 0.5px rgba(255, 255, 255, 0.15);
  border-radius: 52px;
  backdrop-filter: blur(12px);
}

input {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  margin-left: 16px;
  margin-right: 40px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-btn {
  font-size: 15px;
  padding: 8px 14px;
  margin: 4px 4px;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  border: transparent;
}

/* Hero Image Container */

.hero-img-container {
  margin-top: 96px;
  display: flex;
  justify-content: center;
}

.hero-img {
  border-radius: 20px;
  border: solid 2px rgba(255, 255, 255, 0.1);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* Client Logos */

.client-logo-container {
  margin-top: 200px;
}

.client-logos {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 124px;
}

.logo {
  width: 120px;
  height: 60px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* Built-for-section */

.built-for-section {
  max-width: 1100px;
  margin: auto;
  margin-top: 144px;
}

.built-for-content {
  padding-top: 48px;
  color: #fff;
  text-align: center;
}

.built-for-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.built-for-subtext {
  font: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.built-for-card-container {
  display: flex;
  gap: 24px;
}

.card-1,
.card-2 {
  border: solid 0.7px rgba(255, 255, 255, 0.07);
  margin-top: 48px;
  color: white;
  border-radius: 20px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 64px;
}

.card-badge {
  color: #18e299;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
  font-family: var(--font-mono);
}

.card-title {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-bottom: 18px;
  color: #fff;
}

.card-content {
  font-size: 16px;
  line-height: 24px;
  padding-right: 130px;
  color: rgba(255, 255, 255, 0.7);
}

.built-svg-container {
  height: 200px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.built-for-card-container-single {
  border: solid 0.7px rgba(255, 255, 255, 0.07);
  margin-top: 24px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.card-3 {
  text-align: center;
  border-radius: 20px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 64px;
}

.card-badge-3,
.card-title-3,
.card-content-3 {
  text-align: center;
}

.card-badge-3 {
  color: #18e299;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
  font-family: var(--font-mono);
}

.card-title-3 {
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-bottom: 18px;
}

.card-content-3 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0px 300px;
}

.built-vdo-container {
  margin-top: 50px;
}

/* Enterprise-reinvention section */

.enterprise-reinvention {
  background-color: #151616;
  height: 800px;
  margin-top: 144px;
}
